body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.carta {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.titulo-carta {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #db2777;
}

.categoria {
    margin-bottom: 15px;
}

.titulo-categoria {
    font-weight: bolder;
    border-bottom: 2px solid #db2777;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.sub-categoria {
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #dbab27; /* Color de texto para la subcategoría */
    border-bottom: 1px solid #dbab27; /* Línea de borde inferior */
}

.producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #f0e68c;
}

.precio {
    color: #20b2aa;
    font-weight: bold;
}