html{
  height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  min-width: 100%;
  margin:0;
  padding:0;
}
.container{
  height: 560px;
  width: 100%;
  display: flex;
  margin:0;
  text-align: center;
  flex-direction: row;
}
.elm{
  height: 100%;
  width: 20%;
}

.carbon{
  background-color: #1E1E1E;
  color:#DAA520;
}

.gris{
  background-color: #4F4F4F;
  color:#800020;
}

.blanco{
  background-color: #EAEAEA;
  color:#1E1E1E;
}

.rojo{
  background-color: #800020;
  color: #EAEAEA;
}

.dorado{
  background-color: #DAA520;
  color:#4F4F4F;
}