/* .carbon{
  background-color: #1E1E1E;
}

.gris{
  background-color: #4F4F4F;
}

.blanco{
  background-color: #EAEAEA;
}

.rojo{
  background-color: #800020;
}

.dorado{
  background-color: #DAA520;
} */
.bg-dark{
  background-color: #1E1E1E;
}
.nav-bg{
  background-color: #4F4F4F;
}

.links-color{
  color:#DAA520;
  opacity: 0.8;
}
.links-color:active{
  color:#DAA520;
  opacity: 1;
}
.links-color:hover{
  color:#DAA520;
  opacity: 1;
}

